body {

    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    color: white;
    background: linear-gradient(135deg, #020617, #0f172a, #1e293b);
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #020617;
}

header h1 {
    color: #38bdf8;
}

nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #38bdf8;
}

/* SECTIONS */
section {
    padding: 60px 40px;
}

h2 {
    color: #38bdf8;
}

/* PROJECT CARDS */
.project-card {
    background: rgba(30, 41, 59, 0.7);
    padding: 22px;
    margin-top: 25px;
    border-radius: 14px;
    transition: 0.35s;
    border: 1px solid rgba(56, 189, 248, 0.2);
    backdrop-filter: blur(6px);
}

.project-card:hover {
    transform: translateY(-8px);
    border: 1px solid #38bdf8;
    box-shadow: 0 10px 30px rgba(56,189,248,0.25);
}


/* SKILLS */
ul li {
    margin: 10px 0;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    background-color: #020617;
}
/* HERO SECTION */
#hero {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

.big-name {
    font-size: 48px;
    color: #38bdf8;
    margin: 10px 0;
}

.hero-text h3 {
    font-weight: normal;
    color: #cbd5f5;
}

.hero-text p {
    max-width: 600px;
    margin: 20px auto;
    line-height: 1.6;
}

.cta-btn {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 20px;
    background-color: #38bdf8;
    color: black;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    transition: 0.3s;
}

.cta-btn:hover {
    background-color: #0ea5e9;
    transform: translateY(-2px);
}
footer {
    text-align: center;
    padding: 20px;
    background-color: #020617;
}





/* PROJECT PREVIEW SECTION */
.preview-box {
    background-color: #020617;
    padding: 20px;
    border-radius: 12px;
    margin-top: 20px;
    border: 1px solid #38bdf8;
}

pre {
    color: #38bdf8;
    overflow-x: auto;
}

/* RESUME BUTTON */
.resume-btn {
    display: inline-block;
    margin-top: 12px;
    margin-left: 10px;
    padding: 12px 20px;
    background-color: transparent;
    border: 2px solid #38bdf8;
    color: #38bdf8;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
}

.resume-btn:hover {
    background-color: #38bdf8;
    color: black;
}

/* CURRENTLY LEARNING */
#learning ul li {
    margin: 10px 0;
}
